.header {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px ; 
    font-weight:bolder;
    background-color: black;
    color: var(--white);
  }
  
  .list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .list li {
    margin: 30px;
    cursor: pointer;
  }
  

